{% extends "layout.html" %}

{% block body %}
<div>
<h3>Kontrol Paneli</h3>
<hr>
<p>
    Hoşgeldiniz, <small>{{request.user.username}}</small>
</p>
<hr>
<a class="btn btn-danger" href="{% url 'Music:createAlbum' %}">Album Oluştur</a>
<a class="btn btn-danger" href="{% url 'Music:createAlbum' %}">Bilgilerimi Güncelle</a>
<hr>

{% if albums %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Albüm Adı</th>
      <th scope="col">Tür</th>
      <th scope="col">Oluşturma Tarihi</th>
      <th scope="col">Yayınlayan</th>
    </tr>
  </thead>
  <tbody>
  {% for album in albums %}
   <tr>
      <th scope="row">{{album.id}}</th>
      <td><a href="{% url 'Music:albumDashboard' album.id %}">{{album.album_title}}</a></td>
      <td>{{album.genre}}</td>
      <td>{{album.created_date}}</td>
      <td>{{album.publisher}}</td>
      <td><a href="{% url 'Music:updateAlbum' album.id %}" class="btn btn-info">Güncelle</a></td>
      <td><a href="{% url 'Music:deleteAlbum' album.id %}" class="btn btn-info">Sil</a></td>

    </tr>
  {% endfor %}
   
    
  </tbody>
</table>
{% else %}
  <diV class="alert alert-danger">Henüz Müzik Bulunmuyor</diV>  
{% endif %}
</div>
{% endblock body %}